@use 'colors';
@use 'fontsname' as font;
.header-firstpart {
	background-color:colors.$supplementarycolorUI01;
	text-align: center;
	p {
		padding: 25px;
		font-size: 16px;
		margin-bottom: 0px;
		font-family: font.$helveticaneuelight;
		margin-top: 0;
		a {
			color: var(--textcolor);
			font-family: font.$helveticaneuemedium;
			font-size: 17px;
		}
	}
}
.material-symbols-outlined {
	vertical-align: middle;
	font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
}