$helveticaneuelight:"helveticaneuelight";
$helveticaneuemedium:"helveticaneuemedium";
$helveticaneueblack:"helveticaneueblack";
$helveticaneuebold:"helveticaneuebold";
$helveticaneueheavy:"helveticaneueheavy";
$helveticaneue:"helveticaneue";