@import 'layout/helveticaneue-font';
@import 'layout/first-part-ofheader';
@import 'layout/second-part-ofheader';
@import 'layout/main-nav';
@import 'layout/mega-list';
@import 'layout/hidden-nav';
@import 'layout/main-slider';


body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-size: 100%;
}
.page-container {
  margin: 0 auto;
  max-width: 1350px;
  padding: 0 30px;
}
  


