@use 'layout/helveticaneue-font';
@use 'layout/first-part-ofheader';
@use 'layout/second-part-ofheader';
@use 'layout/main-nav';
@use 'layout/mega-list';
@use 'layout/hidden-nav';
@use 'layout/main-slider';
@use 'layout/who-section-banner';
@use 'layout/demonstration-video';
@use 'layout/solutions';
@use 'layout/recent-news';
@use 'layout/products-banner';
@use 'layout/featured-categories';
@use 'layout/recently-products';
@use 'layout/discover-section';
@use 'layout/footer';

body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-size: 100%;
}
.page-container {
  margin: 0 auto;
  max-width: 1350px;
  padding: 0 30px;
}
  


