footer {
  background-color: var(--pribrand1);
  margin-top: 30px;
}
.first-part-of-footer {
  display: flex;
  justify-content: space-between;
}
.first-part-of-footer div {
  display: flex;
  flex-direction: column;

  padding: 50px 0px;
}
.convert-vertical-to-horizantal {
  padding: 0px 0px !important;
}
.first-part-of-footer div:first-child {
  padding: 40px 0px;
}
.first-part-of-footer div:first-child a {
  font-family: "helveticaneuemedium";
  padding-top: 30px;
}
.first-part-of-footer div:first-child p {
  line-height: 1.5;
}
.first-part-of-footer div > a,
.first-part-of-footer div {
  color: var(--inverse);
  font-family: "helveticaneuelight";
}
.first-part-of-footer div > a,
.first-part-of-footer div > p,
.first-part-of-footer div > span:last-child {
  padding-top: 10px;
}
.first-part-of-footer div > span:first-child {
  padding-bottom: 20px;
  position: relative;
  font-family: "helveticaneuemedium";
  font-size: 15px;
}
.first-part-of-footer div > span:first-child::after {
  content: "";
  position: absolute;
  background-color: var(--inverse);
  height: 2px;
  width: 31px;
  left: 0px;
  top: 25px;
}
.logo-footer {
  height: 30px;
  width: 140px;
}
.first-part-of-footer div:last-child span a img {
  height: 25px;
  width: 25px;
  padding-right: 10px;
  padding-top: 10px;
}
.first-part-of-footer div:last-child span a {
  display: inline-block;
  height: 25px;
}

.last-part-of-footer {
  display: flex;
  color: var(--inverse);
  justify-content: space-between;
  border-top: solid var(--inverse) 1px;
  font-family: "helveticaneuelight";
  position: relative;
}
.last-part-of-footer span {
  padding-top: 30px;
  padding-bottom: 30px;
}
@media only screen and (max-width: 873px) {
  .first-part-of-footer {
    flex-direction: column;
  }
  .first-part-of-footer div > span:first-child::after {
    height: 1px;
    width: 100vw;
    left: -30px;
    top: 40px;
  }
  .first-part-of-footer div {
    padding: 10px 0px;
  }

  .first-part-of-footer div > a {
    display: none;
  }
  .last-part-of-footer {
    border: none;
  }
  .convert-vertical-to-horizantal a {
    display: block !important;
  }
  .convert-vertical-to-horizantal {
    flex-direction: row !important;
    justify-content: space-between;
    position: relative;
  }
  .convert-vertical-to-horizantal:after {
    content: "";
    position: absolute;
    background-color: var(--inverse);
    height: 1px;
    width: 100vw;
    left: -30px;
    top: 85px;
  }
  .first-part-of-footer div:last-child span a img {
    height: 45px;
    width: 45px;
    padding-right: 10px;
    padding-top: 30px;
  }
  .last-part-of-footer{
    flex-direction: column-reverse;
    height: 140px;
    justify-content: space-evenly;
  }
  .last-part-of-footer span {
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .last-part-of-footer span:first-child{
    padding-bottom: 30px;
  }
}
@media only screen and (max-width: 320px){
  .first-part-of-footer div:last-child span a img {
    height: 35px;
    width: 35px;
   
  }
}