@font-face {
    font-family: "helveticaneue";
    src: url(../fonts/HelveticaNeueRoman.woff) format("woff");
  }
  /* @font-face {
    font-family: "helveticaneuelight";
    src: url(../fonts/HelveticaNeueLight.woff) format("woff");
  }
  @font-face {
    font-family: "helveticaneuemedium";
    src: url(../fonts/HelveticaNeueMedium.woff) format("woff");
  }
  @font-face {
    font-family: "helveticaneuethin";
    src: url(../fonts/HelveticaNeueThin.woff) format("woff");
  }
  @font-face {
    font-family: "helveticaneueblack";
    src: url(../fonts/HelveticaNeueBlack.woff) format("woff");
  }
  @font-face {
    font-family: "helveticaneuebold";
    src: url(../fonts/HelveticaNeueBold.woff) format("woff");
  }
  @font-face {
    font-family: "helveticaneueheavy";
    src: url(../fonts/HelveticaNeueHeavy.woff) format("woff");
  } */
  @font-face {
    font-family: "helveticaneuelight";
    src: url(../helvetica/helvetica/HelveticaNeueLTStd-Lt.woff) format('*-woff'),
     url(../helvetica/helvetica/HelveticaNeueLTStd-Lt.woff2) format("woff2"),url(../helvetica/helvetica/HelveticaNeueLTStd-Lt.eot) format("eot");
  }
  
  @font-face {
    font-family: "helveticaneuemedium";
    src: url(../helvetica/helvetica/HelveticaNeueLTStd-Md.woff) format("woff"),
    url(../helvetica/helvetica/HelveticaNeueLTStd-Md.woff2) format("woff2");
  }
  @font-face {
    font-family: "helveticaneueblack";
    src: url(../helvetica/helvetica/HelveticaNeueLTStd-Blk.woff) format("woff");
  }
  @font-face {
    font-family: "helveticaneuebold";
    src: url(../helvetica/helvetica/HelveticaNeueLTStd-Bd.woff) format("woff");
  }
  @font-face {
    font-family: "helveticaneueheavy";
    src: url(../helvetica/helvetica/HelveticaNeueLTStd-Hv.woff) format("woff");}
  body {
    font-family: "helveticaneue";
  }
 

 