.menu-icon.material-symbols-outlined {
  display: none;
}

.search-icon-hiddennav.material-symbols-outlined {
  display: none;
}

.hidden-nav {
  display: none;
}
.logo-hidden {
  display: none;
}
@media only screen and (max-width: 1300px) {
  .menu-icon.material-symbols-outlined {
    display: block;
    font-variation-settings: "FILL" 0, "wght" 700, "GRAD" 0, "opsz" 48;
  }

  .search-icon-hiddennav.material-symbols-outlined {
    display: block;
    font-variation-settings: "FILL" 0, "wght" 700, "GRAD" 0, "opsz" 48;
  }

  .logo-hidden {
    /* width: 50%; */
    display: inline-block;
    width: 220px;
    margin-left: 0px;
    /* margin-right: 50px; */
  }

  .menu:hover .hidden-nav {
    display: flex;
    flex-direction: column;

    width: 90%;
    height: 100%;
    position: fixed;
    background-color: whitesmoke;
    top: 0px;
    left: 0px;
    /* filter: drop-shadow(100px 0px 0px #0303035b); */
    box-shadow: 150px 0px 0px #0303035b;
    z-index: 3;
    overflow: scroll;
  }

  .hidden-nav ul {
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
    padding-left: 0;
    margin-top: 0;

    /* height: 44%; */
  }

  .hidden-nav ul li {
    padding: 17px;
    /* width: 90%; */
    background-color: var(--inverse);

    border-bottom: solid var(--suppUI02) 1px;
  }

  .hidden-nav ul .cross-icon {
    border-bottom: solid var(--pribrand3) 2px;
    padding-top: 5px;
    padding-bottom: 10px;
  }

  .material-symbols-outlined {
    font-variation-settings: "FILL" 1, "wght" 700, "GRAD" 200, "opsz" 48;
  }

  .material-symbols-outlined.arrow {
    float: right;
    font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
  }

  .hidden-nav-secondpart {
    display: flex;
    flex-direction: column;
    font-family: "Helvetica Neue", sans-serif;
    font-size: 12pt;
    /*14pt! body text 4*/
    font-weight: 400;
    /* background-color: var(--suppUI01op); */
    /* height: 56%; */
    margin-top: 0;
  }

  .hidden-nav-secondpart a {
    padding: 50px 20px 0px 20px;
  }
}
