.recently-viewed-products-container {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
}
.recently-viewed-products-container h1 {
  align-self: center;
  font-family: "helveticaneuebold";
  font-size: 35px;
}
.recently-viewed-products-row {
  display: flex;
  justify-content: space-between;
}

.product-card {
  display: flex;
  flex-direction: column;
  width: 320px;
  height: 530px;
  border: solid 1px var(--suppUI01);
  position: relative;
}
.column-container {
  width: 250px;
  height: 180px;
  margin: 40px auto 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.product-card img {
  height: 280px;
 
}
.column-container h5 {
  margin: 0px;
  color: var(--pribrand1);
  font-family: "helveticaneuemedium";
  letter-spacing: .7px;
}
.column-container button {
  height: 40px;
  border: none;
  background-color: var(--pribrand1);
  color: var(--inverse);
  letter-spacing: 1px;
}
.gradient {
  position: absolute;
  top: 10px;
  width: 220px;
  height: 0px;
  display: flex;
  justify-content: center;
  border-top: 30px solid var(--suppUI02);
  border-right: 20px solid transparent;
}
.gradient p {
  font-family: "helveticaneuemedium";
  position: relative;
  left: -10px;
  top: -37px;
}
.span1{
    font-family: "helveticaneuebold";
}
.span2{
    font-family: "helveticaneuelight";
}
