.recent-news-container {
  display: flex;
  flex-direction: column;
}
.recent-news-container h1 {
  align-self: center;
  font-family: "helveticaneuebold";
  font-size: 35px;
}
.recent-news-container a {
  align-self: flex-end;
}
.recent-news-row {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  flex-wrap: wrap;
}
.recent-news-column {
  display: flex;
  flex-direction: column;
  width: 426px;
}
.recent-news-column .recent-news-img1 {
  background: url("../img/CondensingBoiler.jpg");
  background-size: 100% 100%;
  height: 270px;
  width: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
}
.recent-news-column .recent-news-img2 {
  background: url("../img/corona.jpg");
  background-size: 100% 100%;
  height: 270px;
  width: 100%;
}
.recent-news-column .recent-news-img3 {
  background: url("../img/laptopwithboiler.jpg");
  background-size: 100% 100%;
  height: 270px;
  width: 100%;
  display: flex;
  align-items: center;
}
.recent-news-column h2 {
  display: inline-block;
  letter-spacing: 0.7px;
}
.recent-news-column p {
  display: inline-block;
  padding-right: 5px;
  font-family: "helveticaneuelight";
  font-weight: 500;
  letter-spacing: 1px;
  line-height: 1.5;
}

.recent-news-column a {
  align-self: flex-start;
  font-size: 16px;
  font-family: "helveticaneuemedium";
}
.recent-news-container .viewall {
  color: var(--pribrand2);
}
.rounded-arrow {
  height: 60px;
  width: 60px;
  border-radius: 30px;
  background-color: var(--pribrand1);
  color: var(--inverse);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  left: 30px;
}
.rounded-arrow:hover {
  opacity: 0.5;
}
.mirror {
  -moz-transform: scale(-1, 1);
  -webkit-transform: scale(-1, 1);
  -o-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  transform: scale(-1, 1);
  left: -30px;
}
@media only screen and (max-width: 1330px) {
  .recent-news-row {
    justify-content: center;
  }
}
@media only screen and (max-width: 424px) {
  .recent-news-container {
    margin-top: 100px;
  }
  .recent-news-column {
    width: 250px;
    margin-top: 30px;
  }
  .recent-news-column .recent-news-img1 {
    height: 170px;
  }
  .recent-news-column .recent-news-img2 {
    height: 170px;
  }
  .recent-news-column .recent-news-img3 {
    height: 170px;
  }
  .recent-news-column h2 {
    font-size: 16px;
  }
  .recent-news-column p {
    font-size: 12px;
    line-height: 1.2;
  }

  .recent-news-column a {
    font-size: 10px;
  }
}
