.recent-news-container {
  display: flex;
  flex-direction: column;
}
.recent-news-container h1 {
  align-self: center;
  font-family: "helveticaneuebold";
  font-size: 35px;
}
.recent-news-container > a {
  align-self: flex-end;
  color: var(--pribrand2);
}
.recent-news-row {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  flex-wrap: wrap;
}
.recent-news-column {
  display: flex;
  flex-direction: column;
  width: 426px;
}

.recent-news-img {
  height: 270px;
  width: 100%;
  display: flex;
  align-items: center;
}
.recent-news-column:first-child .recent-news-img {
  background: url("../img/CondensingBoiler.jpg");
  background-size: 100% 100%;
  justify-content: end;
}
.recent-news-column:nth-child(2) .recent-news-img {
  background: url("../img/corona.jpg");
  background-size: 100% 100%;
}
.recent-news-column:last-child .recent-news-img {
  background: url("../img/laptopwithboiler.jpg");
  background-size: 100% 100%;
}

.recent-news-column h2 {
  display: inline-block;
  letter-spacing: 0.7px;
}
.recent-news-column p {
  display: inline-block;
  padding-right: 5px;
  font-family: "helveticaneuelight";
  font-weight: 500;
  letter-spacing: 1px;
  line-height: 1.5;
}

.recent-news-column a {
  align-self: flex-start;
  font-size: 16px;
  font-family: "helveticaneuemedium";
}

.recent-news-img div {
  height: 60px;
  width: 60px;
  border-radius: 30px;
  background-color: var(--pribrand1);
  color: var(--inverse);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  left: 30px;
}
.recent-news-img div:hover {
  opacity: 0.5;
}
.recent-news-img div.mirror {
  transform: scale(-1, 1);
  left: -30px;
}
@media only screen and (max-width: 1330px) {
  .recent-news-row {
    justify-content: center;
  }
}

@media only screen and (max-width: 482px) {
  .recent-news-container h1 {
    font-size: 25px;
  }
  .recent-news-container {
    margin-top: 100px;
  }
  .recent-news-column {
    width: 250px;
    margin-top: 30px;
  }
  .recent-news-img {
    height: 170px;
  }

  .recent-news-column h2 {
    font-size: 16px;
  }
  .recent-news-column p {
    font-size: 12px;
    line-height: 1.2;
  }

  .recent-news-column a {
    font-size: 10px;
  }
}

@media only screen and (max-width: 325px) {
  .recent-news-container {
    margin-top: 150px;
  }
  .recent-news-container h1 {
    font-size: 20px;
  }
}
