.recently-viewed-products-container {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
}
.recently-viewed-products-container h1 {
  align-self: center;
  font-family: "helveticaneuebold";
  font-size: 35px;
}
.recently-viewed-products-row {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  flex-wrap: wrap;
}

.product-card {
  display: flex;
  flex-direction: column;
  width: 320px;
  height: 530px;
  border: solid 1px var(--suppUI01);
  position: relative;
}
.column-container {
  width: 250px;
  height: 180px;
  margin: 40px auto 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.product-card img {
  height: 280px;
  width: 100%;
 
}
.column-container h5 {
  margin: 0px;
  color: var(--pribrand1);
  font-family: "helveticaneuemedium";
  letter-spacing: .7px;
}
.column-container button {
  height: 40px;
  border: none;
  background-color: var(--pribrand1);
  color: var(--inverse);
  letter-spacing: 1px;
}
.gradient {
  position: absolute;
  top: 10px;
  width: 220px;
  height: 0px;
  display: flex;
  justify-content: center;
  border-top: 30px solid var(--suppUI02);
  border-right: 20px solid transparent;
}
.gradient p {
  font-family: "helveticaneuemedium";
  position: relative;
  left: -10px;
  top: -37px;
}
.column-container>span span:first-child{
  font-family: "helveticaneuebold";
}
.column-container>span  span:last-child{
  font-family: "helveticaneuelight";
}

.rounded-arrow-product{
  height: 60px;
  width: 60px;
  border-radius: 30px;
  background-color: var(--pribrand1);
  color: var(--inverse);
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: -30px;
  top: 260px;
}
.rounded-arrow-product.mirror{
  transform: scale(-1, 1);
  left: -30px;
}
.rounded-arrow-product:hover {
  opacity: 0.5;
}
@media only screen and (max-width: 1024px){
  .recently-viewed-products-row {
    justify-content: space-around;
    
  }
  .product-card{
    margin-top: 30px;
  }

}
@media only screen and (max-width: 482px){
  .recently-viewed-products-container h1 {
    font-size: 25px;
  }
}
@media only screen and (max-width: 372px){
  .recently-viewed-products-container h1  {
    font-size: 20px;
  }}