@import "firstpartofheader.css";
@import "secondpartofheader.css";
@import "thirdpartmainnav.css";
@import "megalist.css";
@import "mainimagebanner.css";
@import "whosectionbanner.css";
@import "hiddennav.css";
@import "thirdcontainermain.css";
@import "solutions.css";
@import "recentnews.css";
@import "productsbanner.css";
@import"featuredcategories.css";
@import"colors.css";

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 100%;
}

@font-face {
  font-family: "helveticaneue";
  src: url(../fonts/HelveticaNeueRoman.woff) format("woff");
}
* {
  font-family: "helveticaneue";
}

