@import "first-part-ofheader.css";
@import "second-part-ofheader.css";
@import "third-part-mainnav.css";
@import "mega-list.css";
@import "main-image-banner.css";
@import "who-section-banner.css";
@import "hidden-nav.css";
@import "third-container-main.css";
@import "solutions.css";
@import "recent-news.css";
@import "products-banner.css";
@import "featured-categories.css";
@import "colors.css";
@import "helveticaneue-font.css";

body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-size: 100%;
}
.page-container{
  margin: 0 auto;
  max-width: 1350px;
  padding: 0 20px;
}


