.thaird-part-header-container {
  display: flex;
  flex-direction: row;

  height: 100px;
  align-items: center;

  justify-content: space-between;
}
nav {
  width: 940px;
  /* margin-right: 30px; */
  margin: 0 auto;
}
nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  padding-left: 0;
}

li {
  list-style-type: none;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 0.8px;
  font-family: "helveticaneuemedium";
}
.thaird-part-header-container button {
  border: none;
  background-color: transparent;
  color: var(--pribrand1);
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 0.8px;
  font-family: "helveticaneuemedium";
}

.logo {
  width: 196px;
}

.search-icon.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 700, "GRAD" 0, "opsz" 48;
}


@media only screen and (max-width: 1300px) {
  nav {
    display: none;
  }
  

  .thaird-part-header-container {
    justify-content: space-around;
    align-items: center;
    height: 70px;
  }
}
