$primarybrand1: #003150;
$primarybrand2: #82786f;
$primarybrand3: #aa272f;
$primarybrand4:rgb(255, 196, 0);
$textcolor: #1f1f1f;
$inversetextcolor: #ffffff;
$supplementarycolorUI01: #d7d3c7;
$supplementarycolorUI01withoppacity: #d7d3c725;
$supplementarycolorUI02: #d3dee4;
$supplementarycolorUI02withoppacity: #d3dee480;
$supplementarycolorUI04: #477f80;
$supplementarycolorUI04withoppacity: #477f8080;
$supplementarycolorUI03withoppacity: #007c9280;
$supplementarycolorUI06:#53284F;