@use "../abstracts" as *;

$background-fullsize: 100% 100%;
.recent-news-slider {
  display: flex;
  flex-direction: column;
  padding-top: 50px;
  height: 800px;
  h1 {
    align-self: center;
    font-family: $helveticaneuebold;
    font-size: 35px;
  }
  > a {
    align-self: flex-end;
    color: $primarybrand2;
    font-family: $helveticaneuebold;
  }
  .swiper {
    width: 100%;
    height: 100%;
  }

  // .swiper-slide {
  //   text-align: center;
  //   font-size: 18px;
  //   background: #fff;
  //   display: flex;
  //   justify-content: center;
  //   align-items: center;
  // }

  // .swiper-slide img {
  //   display: block;
  //   width: 100%;
  //   height: 100%;
  //   object-fit: cover;
  // }
  // > div {
  //   display: flex;
  //   flex-direction: row-reverse;
  //   justify-content: space-between;
  //   flex-wrap: wrap;
  // }
  
}
// .swiper {
// //  max-width: 1350px;
// width: 100%;
//   height: 600px;
//   position: relative;
//   .swiper-wrapper{
//     .swiper-slide {
//       max-width: 30% !important ;
//     }
//   }
//   .swiper-button-nextto{
//     @extend %arrowright;
//     position: absolute;
//     z-index: 3;
//     top:120px;
//   }
//   .swiper-button-prevous{
//     @extend %arrowright;
//     transform: scale(-1, 1);
//     position: absolute;
//     z-index: 3;
//     top:120px;
//     left:0px;
//   }
// }


.swiper-slide {
  
  font-size: 18px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
    .recent-news-img {
      
      img{
        height: 220px;
        width: 400px;
        object-fit: contain;
      }
      
    }
  
  // &:nth-child(2) {
  //   .recent-news-img {
  //     @include backgroundproperities(
  //       url("C:/Users/asus/Desktop/sass/img/corona.jpg"),
  //       $background-fullsize
  //     );
  //   }
  // }
  // &:last-child {
  //   .recent-news-img {
  //     @include backgroundproperities(
  //       url("C:/Users/asus/Desktop/sass/img/laptopwithboiler.jpg"),
  //       $background-fullsize
  //     );
  //   }
  // }
  h2 {
    display: inline-block;
    letter-spacing: 0.7px;
    font-size: 20px;
    font-family: $helveticaneuebold;
  }
  p {
    display: inline-block;
    padding-right: 5px;
    font-family: $helveticaneuelight;
    font-weight: 500;
    letter-spacing: 1px;
    font-size: 14px;
    line-height: 1.5;
  }
  a {
    align-self: flex-start;
    font-size: 15px;
    font-family: $helveticaneuemedium;
  }
}
// .recent-news-img {
//   height: 270px;
//   width: 100%;
//   display: flex;
//   align-items: center;
//   div {
//     @extend %arrowright;
// 	position: relative;
//     left: 30px;
//     &.mirror {
//       transform: scale(-1, 1);
//       left: -30px;
//     }
//   }
// }

// @media only screen and (max-width: 1337px) {
//   .recent-news-slider {
//     > div {
//       justify-content: center;
//     }
//   }
 
// }
// @media only screen and (max-width: 482px) {
//   .recent-news-slider {
//     h1 {
//       font-size: 25px;
//     }
//   }
//   // .swiper-slide {
//   //   width: 250px;
//   //   margin-top: 30px;
//   //   h2 {
//   //     font-size: 16px;
//   //   }
//   //   p {
//   //     font-size: 12px;
//   //     line-height: 1.2;
//   //   }
//   //   a {
//   //     font-size: 10px;
//   //   }
//   // }
//   .recent-news-img {
//     height: 170px;
//   }
// }
// @media only screen and (max-width: 325px) {
//   .recent-news-slider {
//     h1 {
//       font-size: 20px;
//     }
//   }
//   // .swiper-slide {
//   //   // margin-bottom: 60px;
//   //   padding: 40px 0px;
//   // }
// }
