@use "../abstracts" as *;

$background-fullsize: 100% 100%;
.recent-news-slider {
  display: flex;
  flex-direction: column;
  padding-top: 50px;
  h1 {
    align-self: center;
    font-family: $helveticaneuebold;
    font-size: 35px;
  }
  > a {
    align-self: flex-end;
    color: $primarybrand2;
    font-family: $helveticaneuebold;
  }
  > div {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
}
.swiper {
  width: 1410px;
  height: 600px;
  .swiper-wrapper{
    width: 900px;
    .swiper-slide {
      width: 426px !important;
    }
  }
}


.swiper-slide {
  display: flex;
  flex-direction: column;
  width: 426px;
  &:first-child {
    .recent-news-img {
      @include backgroundproperities(
        url("C:/Users/asus/Desktop/sass/img/CondensingBoiler.jpg"),
        $background-fullsize
      );
      justify-content: end;
    }
  }
  &:nth-child(2) {
    .recent-news-img {
      @include backgroundproperities(
        url("C:/Users/asus/Desktop/sass/img/corona.jpg"),
        $background-fullsize
      );
    }
  }
  &:last-child {
    .recent-news-img {
      @include backgroundproperities(
        url("C:/Users/asus/Desktop/sass/img/laptopwithboiler.jpg"),
        $background-fullsize
      );
    }
  }
  h2 {
    display: inline-block;
    letter-spacing: 0.7px;
    font-family: $helveticaneuebold;
  }
  p {
    display: inline-block;
    padding-right: 5px;
    font-family: $helveticaneuelight;
    font-weight: 500;
    letter-spacing: 1px;
    line-height: 1.5;
  }
  a {
    align-self: flex-start;
    font-size: 15px;
    font-family: $helveticaneuemedium;
  }
}
.recent-news-img {
  height: 270px;
  width: 100%;
  display: flex;
  align-items: center;
  div {
    @extend %arrowright;
	position: relative;
    left: 30px;
    &.mirror {
      transform: scale(-1, 1);
      left: -30px;
    }
  }
}
// .swiper-button-next{
//   @extend %arrowright;
// }
@media only screen and (max-width: 1337px) {
  .recent-news-slider {
    > div {
      justify-content: center;
    }
  }
  .recent-news-slider-item {
    // margin-bottom: 60px;
    padding: 30px;
  }
}
@media only screen and (max-width: 482px) {
  .recent-news-slider {
    h1 {
      font-size: 25px;
    }
  }
  .recent-news-slider-item {
    width: 250px;
    margin-top: 30px;
    h2 {
      font-size: 16px;
    }
    p {
      font-size: 12px;
      line-height: 1.2;
    }
    a {
      font-size: 10px;
    }
  }
  .recent-news-img {
    height: 170px;
  }
}
@media only screen and (max-width: 325px) {
  .recent-news-slider {
    h1 {
      font-size: 20px;
    }
  }
  .recent-news-slider-item {
    // margin-bottom: 60px;
    padding: 40px 0px;
  }
}
