@use "../abstracts" as *;
.solutions-container {
  padding-top: 50px;
  h1 {
    text-align: center;
    font-size: 2.5rem;
    font-family: $helveticaneuebold;
    padding: 40px;
  }
  .solutions-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
    img {
      height: auto;
      width: 57%;
    }
    .row-description {
      word-break: break-word;
      word-wrap: break-word;
      width: 38%;
      align-self: center;
      > span {
        &:first-child {
          font-size: 15px;
          color: $primarybrand2;
          position: relative;
          letter-spacing: 2px;
          font-family: $helveticaneuemedium;
        }
        &::after {
          content: "";
          position: absolute;
          background-color: $primarybrand2;
          height: 2px;
          width: 31px;
          left: 0px;
          top: 23px;
        }
      }
      h2 {
        font-size: 30px;
        letter-spacing: 2px;
        font-family: $helveticaneue;
      }
      p {
        font-size: 16px;
        line-height: 1.5;
        font-family: $helveticaneue;
      }
      a {
        font-size: 17px;
        font-family: $helveticaneuemedium;
        line-height: 1.5;
        letter-spacing: 1px;
      }
    }
  }
}

@media only screen and (max-width: 767px) {
  .solutions-container {
    .solutions-row {
      margin-bottom: 100px;
      flex-direction: column-reverse;
      &:last-child {
        flex-direction: column;
      }

      img {
        width: 100%;
      }

      .row-description {
        margin-top: 20px;
        width: 100%;
        span {
          font-size: 12px;
        }
        h2 {
          font-size: 20px;
        }
        p {
          font-size: 14px;
          line-height: 1;
        }
        a {
          font-size: 16px;
          line-height: 1;
        }
      }
    }
  }
}
@media only screen and (max-width: 482px) {
  .solutions-container {
    h1 {
      font-size: 25px;
    }
    .solutions-row {
    .row-description {
      
      span {
        font-size: 12px;
        zoom: .85;
      }
      h2 {
        font-size: 16px;
      }
      
      a {
        font-size: 14px;
        line-height: 1;
      }
    }
  }
  }
}
@media only screen and (max-width: 325px) {
  .solutions-container {
    h1 {
      font-size: 20px;
    }
  }
}
