
@font-face {
	font-family: "helveticaneuelight";
	src: url(C:/Users/asus/Desktop/sass/fonts/HelveticaNeueLTStd-Lt.woff) format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: "helveticaneuemedium";
	src: url(C:/Users/asus/Desktop/sass/fonts/HelveticaNeueLTStd-Md.woff) format("woff");
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: "helveticaneueblack";
	src: url(C:/Users/asus/Desktop/sass/fonts/HelveticaNeueLTStd-Blk.woff) format("woff");
	font-style: normal;
	font-weight: 900;
}

@font-face {
	font-family: "helveticaneuebold";
	src: url(C:/Users/asus/Desktop/sass/fonts/HelveticaNeueLTStd-Bd.woff) format("woff");
	font-style: normal;
	font-weight: 700;
}

@font-face {
	font-family: "helveticaneueheavy";
	src: url(C:/Users/asus/Desktop/sass/fonts/HelveticaNeueLTStd-Hv.woff) format("woff");
}

@font-face {
	font-family: "helveticaneue";
	src: url(C:/Users/asus/Desktop/sass/fonts/HelveticaNeueRoman.woff) format("woff");
}

