@use '../helveticaneue-font';
@use '../../abstracts' as *;
.product-container{
    display: flex;
    margin:90px auto;
    font-size: 18px;
    font-family: $helveticaneuemedium;
    color: gray;
    justify-content: flex-start;
    max-width: 1100px;
    transform: translateY(-5px);
    border-radius: 30px;
    h1{
        color: rgb(99, 99, 99);
        font-family: $helveticaneuebold;
    }
    img{
        height: 400px;
        max-width: 300px;
        margin-right:50px;
        object-fit: contain;
        
    }
    .product-features{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }
    #price{
        color: $primarybrand4;
    }
    #rate,#product-code,#price,.add-to-cart{
    margin-top: 20px;    }
    .add-to-cart{
        .add-to-cart-button{
           color: $inversetextcolor;
           background-color:$primarybrand4 ;
           border: none;
           height: 40px;
           width: 80px;
           border-radius: 5px;
           cursor: pointer;
        }
        >input:nth-child(2){
            height: 35px;
            width: 30px;
        }
    }
        
    
}