@use "../abstracts" as *;


.product-slider {
    background: url("C:/Users/asus/Desktop/tranningapp/img/encyclopedia-boilers-hero-master1.jpg");
    height: 240px;
    width: 100%;
    @extend %proparities ;
    margin-top: 100px;
    box-shadow: inset 3px 230px 5px rgba(26, 28, 28, 0.74);
    h1 {
        color: $inversetextcolor;
        font-size: 55px;
        font-family: $helveticaneuebold;
      }
  }
  
  