:root {
  --pribrand1: #003150;
  --pribrand2: #82786f;
  --pribrand3: #aa272f;
  --text: #1f1f1f;
  --inverse: #ffffff;
  --suppUI01: #d7d3c7;
  --suppUI01op: #d7d3c725;
  --suppUI02: #d3dee4;
  --suppUI02op: #d3dee480;
  --suppUI04: #477f80;
  --suppUI04op: #477f8080;
  --suppUI03op: #007c9280;
  --suppUI06:#53284F;
  --x: #003150;
}
