.discover-more-container {
  display: flex;
  flex-direction: column;
  margin-top: 70px;
}
.discover-more-container h1 {
  align-self: center;
  font-family: "helveticaneuebold";
  margin-bottom: 40px;
}
.discover-more-row {
  display: flex;
  justify-content: space-between;
 
}
.discover-more-row > div{
    height: 450px;
    width: 650px;
    display: flex;
    justify-content: flex-end;
}
.discover-more-row > div:first-child {
  background: url(../img/boilerhouse.png);
  background-size: cover;
  background-repeat: no-repeat;
 
}
.discover-more-row > div:last-child {
  background: url(../img/boilerhouse.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.discover-more-discreption {
  width: 43%;
  background-color: var(--suppUI06);
  color: var(--inverse);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 30px;
  padding-bottom: 80px;
}
.discover-more-row > div:last-child .discover-more-discreption{
    background-color: var( --suppUI04);
}
.discover-more-discreption >span {
  letter-spacing: 2px;
  font-family: "helveticaneuemedium";
}
.discover-more-discreption h2 {
    font-size: 30px;
    font-family: "helveticaneue";
    margin-top: 60px;
    margin-bottom: 0px;
}
.discover-more-discreption p {
    line-height: 1.5;
    font-size: 15px;
    letter-spacing: 1px;
    font-family: "helveticaneuelight";
}
.discover-more-discreption a {
  color: var(--inverse);
  font-family: "helveticaneue";
}
@media only screen and (max-width: 1370px){
  .discover-more-row {
    flex-direction: column;
    align-self: center;
    align-items: center;
    height: 780px;
   
  }

  .discover-more-row > div{
    height: 360px;
    width: 100%;
    
}
}
@media only screen and (max-width: 768px){
  .discover-more-row {
    height: 650px;
   
  }
  .discover-more-row > div{
    height: 300px;
    width: 90%;
    
}
.discover-more-discreption {
  width: 40%;
  padding: 30px;
}

.discover-more-discreption h2 {
  font-size: 20px;
  margin-top: 20px;
}

.discover-more-discreption span {
  font-size: 14px;
  zoom: .95;
}
.discover-more-discreption p {
    zoom: .85;
    line-height: normal;
}

}
@media only screen and (max-width: 425px){
  .discover-more-discreption{
    padding: 20px;
    width: 100%;
  }
  .discover-more-discreption h2 {
    font-size: 18px;
  }
  .discover-more-discreption a {
    zoom: .75;
  }
}
