@font-face {
  font-family: "helveticaneue";
  src: url(../fonts/HelveticaNeueRoman.woff) format("woff");
}
@font-face {
  font-family: "helveticaneuelight";
  src: url(../fonts/HelveticaNeueLTStd-Lt.woff) format("*-woff"),
    url(../fonts/HelveticaNeueLTStd-Lt.woff2) format("woff2"),
    url(../helvetica/helvetica/HelveticaNeueLTStd-Lt.eot) format("eot");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "helveticaneuemedium";
  src: url(../fonts/HelveticaNeueLTStd-Md.woff) format("woff"),
    url(../helvetica/helvetica/HelveticaNeueLTStd-Md.woff2) format("woff2");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "helveticaneueblack";
  src: url(../fonts/HelveticaNeueLTStd-Blk.woff) format("woff");
  font-style: normal;
  font-weight: 900;
}
@font-face {
  font-family: "helveticaneuebold";
  src: url(../fonts/HelveticaNeueLTStd-Bd.woff) format("woff");
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: "helveticaneueheavy";
  src: url(../fonts/HelveticaNeueLTStd-Hv.woff) format("woff");
}

