
.dropdown-main-container{
  display: none;
  position: absolute;
  background-color: var(--inverse);
  width: 100%;
  height: 653px;
  left: 0;
  right: 0;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--inverse);
  height: 653px;
  left: 0;
  right: 0;
  margin: 0 auto;
  max-width: 1510px;
  
}
 html:has(nav ul li:first-child:hover,nav ul li:nth-child(2):hover) body::before{
  content: "";
  position: absolute;
  top: 500px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  height: 463vh;
  background-color: #03030381;
  z-index: 3;
}

nav ul li:hover .dropdown-main-container{
  display: block;
  z-index: 4;
}
nav ul li:hover .dropdown-content {
  display: flex;
  justify-content: flex-start;
  font-size: 16px;
}
nav ul li > span {
  position: relative;
  display: inline-block;
  padding-top: 45px;
  padding-bottom: 45px;
  z-index: 3;
  color: var(--pribrand1);
  cursor: pointer;
}

nav ul li > span::after {
  content: "";
  position: absolute;
  background-color: var(--pribrand1);
  height: 2px;
  width: 0;
  left: 0;
  transition: 0.3s;
  bottom: 30px;
}

nav ul li > span:hover::after {
  width: 40%;
}

.dropdown-content div:first-child {
  flex-shrink: 1;
  width: 23%;
  display: flex;
  flex-direction: column;
  border-right: var(--suppUI01) solid 1px;
  color: var(--pribrand1);
}

.dropdown-content div:last-child {
  flex-shrink: 1;
  width: 29%;
  display: flex;
  flex-direction: column;
  border-right: var(--suppUI01) solid 1px;
  background-color: var(--suppUI01op);
  overflow: hidden;
}

.dropdown-content div:last-child p {
  display: inline-block;
  font-size: 45px;
  letter-spacing: 1px;
  padding-left: 50px;
  margin-top: 40px;
  color: var(--pribrand1);
  font-family: "Anton", sans-serif;
}

.dropdown-content div:last-child img {
  height: 282px;
  padding-left: 50px;
  width: 550px;
}

.dropdown-content div:last-child a {
  padding-top: 100px;
  padding-left: 50px;
}

.dropdown-content div {
  flex-shrink: 1;
  width: 24%;
  display: flex;
  flex-direction: column;
  border-right: var(--suppUI01) solid 1px;
}

.dropdown-content div a {
  display: inline-block;
  padding: 32px 0 0 40px;
}

.dropdown-content div:first-child a {
  display: inline-block;
  padding: 35px 0 0 70px;
}

a.gray {
  color: var(--pribrand2);
}
