.product-slider {
  background: url("../img/encyclopedia-boilers-hero-master1.jpg");
  height: 230px;
  width: 100%;
  background-size: 100% 100%;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  box-shadow: inset 3px 230px 5px rgba(26, 28, 28, 0.74);
}
.product-slider h1 {
  color: var(--inverse);
  font-size: 55px;
  font-family: "helveticaneuebold";
}
