.solutions-container h1 {
  text-align: center;
  font-size: 2.5rem;
  font-family: "helveticaneuebold";
  padding: 40px;
}
.solutions-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}
.solutions-row img {
  height: auto;
  width: 57%;
}

.row-description {
  word-break: break-word;
  word-wrap: break-word;
  width: 38%;
  align-self: center;

  /* padding-right: 40px; */
}
.row-description > span:first-child {
  font-size: 15px;
  color: var(--pribrand2);
  position: relative;
  letter-spacing: 2px;
}

.row-description > span::after {
  content: "";
  position: absolute;
  background-color: var(--pribrand2);
  height: 2px;
  width: 31px;
  left: 0px;
  top: 23px;
}
.row-description h2 {
  font-size: 30px;
  letter-spacing: 2px;
}
.row-description p {
  font-size: 16px;
  line-height: 1.5;
}
.row-description a {
  font-size: 19px;
  /* font-weight: 800; */
  font-family: "helveticaneuemedium";
  line-height: 1.5;
  letter-spacing: 1px;
}


@media only screen and (max-width: 767px) {
  .solutions-row:last-child {
    flex-direction: column;
  }
  .solutions-row {
    flex-direction: column-reverse;
  }

  .solutions-row img {
    width: 100%;
  }
  .row-description {
    margin-top: 20px;
    width: 100%;
  }

  .row-description span {
    font-size: 12px;
  }

  .row-description h2 {
    font-size: 20px;
  }
  .row-description p {
    font-size: 14px;
    line-height: 1;
  }
  .row-description a {
    font-size: 16px;
    line-height: 1;
  }
}
@media only screen and (max-width: 482px) {
  .solutions-container h1 {
    font-size: 25px;
  }
  
}
@media only screen and (max-width: 325px) {
  .solutions-container h1 {
    font-size: 20px;
  }
}
